.activity-button {
    border: none;
    font-weight: bold;
    background-color: rgb(111, 111, 111);

    color: #FFF;
    padding: 10px 40px;
    width: 100%;
    margin-top: 35px;
    cursor: pointer;
    border-radius: 5px;
}

.activity-button:hover {
    background-color: rgb(42, 161, 208);
    color: #FFF;
}