.activity-button {
    border: none;
    font-weight: bold;
    background-color: rgb(68, 68, 68);
    color: #FFF;
    padding: 10px 40px;
    width: 100%;
    margin-top: 35px;
    cursor: pointer;
    border-radius: 5px;
}

.activity-button:hover {
    background-color: #5dcc0d;
    color: #FFF;
}