.exercise-time {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(111, 111, 111);

    color: rgb(255, 255, 255);
    margin-top: 25px;
    border-radius: 8px;
}

.exercise {
    margin-top: 25px;
}

.exercise-title {
    text-align: center;
}