.exercise-time {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(68, 68, 68);
    color: rgb(221, 221, 221);
    margin-top: 25px;
    border-radius: 8px;
}

.exercise {
    margin-top: 25px;
}

.exercise-title {
    text-align: center;
}