.break {
    padding-top: 10px;
}

.break-title {
    text-align: center;
    margin-bottom: 12px;
}

.break-details button {
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 8px;
    border: 1px;
}

.break-details {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(42, 161, 208);
}

.break-details div {
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
}